#project-wrapper {
    margin-top: 10vh;
    margin-left: 30vh;
    margin-right: 30vh;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    /* border: 1px solid;
    border-color: black; */
}

#text-wrapper {
    /* border: 1px solid;
    border-color: black; */
    float: left;
}

#typemenot-gif-wrapper {
    /* border: 1px solid;
    border-color: black; */
    float: right;
}

#typemenot-gif {
    height: 75%;
    width: 75%
}

#typemenot-blurb {
    text-align: left;
    margin-top: 0vh;
    padding-left: 1vh;
    color: #495057;
}

.align-left {
    text-align: left;
}

.project-title {
    text-align: left;
    font-size: 4em;
    margin-bottom: 0vh;
}

.project-description {
    color: #495057;
    font-weight: 400;
    font-size: 1.5em;
}

.description-wrapper {

}

li {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 1vh;
}

a {
    text-decoration: underline;
}

strong {
    font-weight: 400;
}