* {
  margin: 0;
  padding: 0;
}

body {
  cursor: none !important;
  font-family: 'DM Sans', sans-serif;
  background: #543F87;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cursor {
  width: 17px;
  height: 17px;
  background-color: white;
  opacity: 70%;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  z-index: 100;
  pointer-events: none;
}

a {
  cursor: none;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

hr {
  width: 20vw;
  display: block;
  margin: 3vh 0;
  border-color: #B66EA2;
  border-width: 0.5px;
  border-style: solid;
}

#sidebar {
  left: -50%;
  position: fixed;
  height: 150vh;
  width: 25vw;
  background-color: #EB913A;
  z-index: 98;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.sidebar-toggle #sidebar {
  -webkit-transform: translateX(20vw);
  transform: translateX(20vw);
}

.sidebar-links-wrapper {
  margin: 50% 20% 20% 20%;
}

.sidebar-link {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 30% 0;
}

.about-me-wrapper {
  height: auto;
  width: 60%;
  margin-top: 10vh;
}

.about-me-text-wrapper {
  position: relative;
  margin: 0 auto 10%;
  padding-top: 10%;
  z-index: 97;
}

.about-hi-there {
  color: white;
}

.about-text {
  color: white;
}

.experience-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.experience-text-wrapper {
  position: relative;
  margin: 0 auto 10%;
  z-index: 97;
}

.experience-text-wrapper * {
  color: white;
}

.exp-subtext-wrapper {
  display: flex;
  flex-direction: column;
}

.exp-title {
  margin-bottom: 10%;
}

.exp-l1, .exp-l2 {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1%;
}

.exp-l2 * {
  font-style: italic;
}

.exp-company {
  font-size: 32px;
  margin-top: 5%;
}

.exp-location {
  font-size: 18px;
}

.exp-position {
  font-size: 24px;
}

.exp-date {
  font-size: 18px;
}

.exp-bullet-list {
  margin: 0 0 0 24px;
}

.exp-bullet {
  margin: 5px 0;
  font-size: 18px;
}

.projects-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.project-wrapper {
  margin: 10% 0;
}

.projects-text-wrapper {
  position: relative;
  margin: 0% auto 10%;
  z-index: 97;
}

.projects-text-wrapper * {
  color: white;
}

.projects-title {
  margin-bottom: 10%;
}

.projects-name {
  font-size: 32px;
}

.proj-view-btn {
  width: 165px;
  height: 35px;
  text-align: center;
  background-color: #B66EA2;
  color: white;
  line-height: 35px;
  position: relative;
  margin-top: 3vh;
}

.proj-link {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.proj-view-btn * {
  margin: auto;
  color: white;
}

.projects-tech {
  font-style: italic;
  font-weight: 300;
  margin: 2vh 0;
}

.project-text {
  line-height: 1.5;
}

.debug {
  border: 1px solid;
  border-color: black;
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .cursor {
    display: none;
  }
  
  hr {
    width: 40vw;
  }

  #sidebar {
    left: -100%;
    width: 100%;
  }

  .sidebar-toggle #sidebar {
    -webkit-transform: translateX(20vw);
    transform: translateX(20vw);
  }

  .sidebar-link {
    font-size: 2rem;
  }

  .about-me-wrapper {
    width: 100%;
    margin-top: 0;
  }

  .about-me-text-wrapper {
    padding: 10% 10% 0%;
  }

  .experience-wrapper {
    width: 100%;
  }

  .experience-text-wrapper {
    padding: 10% 10% 0%;
  }

  .projects-wrapper {
    width: 100%;
  }

  .projects-text-wrapper {
    padding: 10% 10% 0%;
  }

  li {
    margin-bottom: 5px;
  }

  .exp-subtext-wrapper {
    margin-bottom: 30px;
  }

  .exp-l1 {
    flex-direction: column;
  }

  .exp-l2 {
    flex-direction: column;
  }

  .container {
    padding-top: 10vh;
  }

  #sidebar {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }

}

/* Tablet */
@media only screen and (max-width: 768) {

  .cursor {
    display: none;
  }

  .about-me-wrapper {
    width: 100%;
  }

  .experience-wrapper {
    width: 100%;
  }
}

@keyframes blur {
  to {
    -webkit-filter: blur(5px);
    -moz-filter:    blur(5px);
    -o-filter:      blur(5px);
    -ms-filter:     blur(5px);
  }
  
}

/* fadeInUp animation */

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
